/* Página: Requisição aprovada */

main {
    padding: 40px;
}

h2 {
    color: #004aad;
    margin-bottom: 20px;
}


.info-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.topo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foto {
    width: 90px;
    height: 90px;
    background: #ddd;
    border-radius: 50%;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
}


.comentario {
    margin-top: 25px;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #004aad;
    font-style: italic;
}


.aprovacao {
    margin-top: 25px;
    text-align: right;
}

.aprovacao strong {
    color: #008000;
}

