
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f5f7;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004aad;
    color: white;
    padding: 10px 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.url-bar {
    background: #003580;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    width: 200px;
    text-align: center;
}

.sair {
    background-color: #e63946;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sair:hover {
    background-color: #c5303e;
}


main {
    padding: 30px;
}

h2 {
    color: #004aad;
    margin-bottom: 20px;
}

.info-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.gestor-box {
    text-align: center;
}

.foto {
    width: 90px;
    height: 90px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.section {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.section strong {
    color: #004aad;
}

.anexos a {
    display: inline-block;
    margin-right: 10px;
    color: #004aad;
    text-decoration: none;
}

.anexos a:hover {
    text-decoration: underline;
}


.comentario {
    margin-top: 25px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.aprovar {
    background-color: #00b050;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.aprovar:hover {
    background-color: #009643;
}

.negar {
    background-color: #d62828;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.negar:hover {
    background-color: #b71d1d;
}
