body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.url-bar {
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 40%;
  border-radius: 6px;
}

.sair {
  border: none;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.layout {
  display: flex;
}

.menu-lateral {
  width: 180px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px 10px;
}

.menu-lateral h3 {
  margin-top: 0;
  font-size: 16px;
}

.menu-lateral nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.menu-lateral a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

main {
  flex: 1;
  padding: 20px;
  border: 0.5px solid #ccc;
}

.breadcrumb {
  color: #666;
  font-size: 14px;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 180px;
  text-align: center;
  padding: 15px;
}

.card .img {
  width: 100%;
  height: 80px;
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.filtros input {
  width: 70%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filtros select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
